{% extends "layout.html.twig" %}
{% block content %}
    <h1>Lista propozycji przystanków:</h1>
    <ul id="admin-przystanek-list" class="list-group">
    {% for przystanek in przystanki %}
        <li class="list-group-item{% if przystanek.reviewed == false %} active{% endif %}">
            {{ przystanek.id|e }} - {{ "% -10.10s"|format( przystanek.nazwa|e) }} &hellip;
            <button data-id="{{ przystanek.id }}" type="button" class="btn-more btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top"> Kliknij po więcej </button>
        </li>
    {% endfor %}
    </ul>
{% endblock %}