{% extends "layout.html.twig" %}
{% block content %}
    <h4>Ups... już dodano taki przystanek</h4>
    <p class="alert alert-warning">
        Niestety, już ktoś dodał przystanek z taką nazwą.
    </p>
{% endblock %}