<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title '' %} - My Silex Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="./css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="preview-page">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    {% include "navigation.html.twig" %}
                </div>
            </header>
            <main role="main" class="inner cover">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </footer>
        </div>
        <script src="./js/jquery-3.5.1.min.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        {% block footer %}
            {% if js is defined %}
                {% for j in js %}
                    <script src=".{{ asset(j, 'js') }}"></script>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </body>
</html>
