<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/dodaj">Dodaj przystanek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Dodaj propozycję przystanku lub je przejrzyj</h5>
    <p class="card-text">Dodawanie jak i przeglądanie przystanków nie wymaga logowania</p>
  </div>
</div>